<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar palabra</title>
</head>
<body>
<h1>Editar palabra</h1>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<form method="post">
    <label for="palabra">Palabra:</label><br>
    <input type="text" id="palabra" name="palabra" required><br>
    <label for="nuevo_significado">Nuevo significado:</label><br>
    <textarea id="nuevo_significado" name="nuevo_significado" rows="4" cols="50" required></textarea><br>
    <input type="submit" value="Editar palabra">
    <br>
    <a href="/">Volver al Inicio</a>
</form>
</body>
</html>
