<!DOCTYPE html>
<html>
  <head>
    <title>Diccionario</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #003366;
      }
      .content {
        max-width: 500px;
        margin: auto;
      }
    </style>
  </head>
  <body style="background-color: #FFE5B4;">

    <div class="content">
      <h1>Diccionario</h1>
      <ul>
        <li><a href="/ver_palabras">Ver Diccionario</a></li>
        <li><a href="/agregar_palabra">Agregar Palabra</a></li>
        <li><a href="/editar_palabra">Editar Palabra</a></li>
        <li><a href="/eliminar_palabra">Eliminar Palabra</a></li>
        <li><a href="/buscar_palabra">Buscar Palabra</a></li>
      </ul>
    </div>

  </body>
</html>
